.character-info {
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}
.character-edit-form {
    display: flex; 
    flex-direction: column;
    max-width: 500px;

    @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 500px;
    }
}

.action-buttons-container {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}