<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Rick & Morty APP</span>
    <span class="toolbar-spacer"></span>
    @if(refreshButton) {
      <button mat-icon-button color="secondary" (click)="refreshAPIData()" [disabled]="alreadyUsedButton">
        <mat-icon aria-label="refresh data icon">refresh</mat-icon>
      </button>
    }
    <button mat-icon-button color="secondary" (click)="navigateToCreateCharacter()">
      <mat-icon aria-label="add character icon">add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<main>
  <router-outlet />
</main>